.app-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  background-color: var(--flowing-front-color);
  border-bottom: var(--flowing-border-small) solid var(--flowing-border-color);
  &-block {
    display: none;
    width: 60px;
    height: 40px;
    border-right: 1px dashed var(--flowing-border-color);
  }
  &-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &-title {
    margin: auto 12px;
    color: var(--flowing-text-color);
    h1 {
      font-size: 12px;
    }
  }
  &-tool {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: auto 8px;
    &-item {
      height: 32px;
      font-size: 16px;
      line-height: 16px;
      border-radius: 32px;
      border: var(--flowing-border-small) solid var(--flowing-border-color);
    }
  }
}
