.flowing-button {
  display: flex;
  align-items: center;
  padding: 4px;
  border-radius: 5px;
}

.flowing-button-content {
  flex: 1;
  text-align: start;
  padding: 0 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flowing-button-prefix-icon {
  text-align: center;
  line-height: 16px;
  width: 16px;
  height: 16px;
  font-size: 16px;
}
