.aside-container {
  position: relative;
  width: 250px;
  min-width: 200px;
  max-width: 50vw;
  height: 100%;
  background-color: var(--flowing-back-color);
  border-right: var(--flowing-border-small) solid var(--flowing-border-color);
}

// 缩放侧边栏的光标
.aside-cursor {
  position: absolute;
  top: 0;
  right: -1px;
  width: 2px;
  height: 100%;
  z-index: 1;
  &:hover {
    background-color: #3370eb;
    cursor: ew-resize;
  }
}

// 侧边栏头部
.aside-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 12px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 24px;
  font-style: italic;
  &-logo {
    width: 36px;
    height: 36px;
    margin-right: 12px;
  }
}

.aside-button {
  position: absolute;
  top: 30px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: #3370eb;
    color: #fff;
  }
}

.aside-button-left {
  right: 16px;
}

.aside-button-right {
  display: none;
  left: 16px;
  z-index: 1;
}
